@using EnsimagCafet.Web.Models.Account
@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<h1>@ViewData["Title"].</h1>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <text>[&nbsp;&nbsp;<a asp-controller="Account" asp-action="ChangePassword">Change</a>&nbsp;&nbsp;]</text>
            }
            else
            {
                <text>[&nbsp;&nbsp;<a asp-controller="Account" asp-action="SetPassword">Create</a>&nbsp;&nbsp;]</text>
            }
        </dd>
        <dt>Two-Factor Authentication:</dt>
        <dd>
            @if (Model.TwoFactor)
                {
                    <form asp-controller="Account" asp-action="DisableTwoFactorAuthentication" method="post" class="form-horizontal" role="form">
                        Enabled [<button type="submit" class="btn-link">Disable</button>]
                    </form>
                }
                else
                {
                    <form asp-controller="Account" asp-action="EnableTwoFactorAuthentication" method="post" class="form-horizontal" role="form">
                        [<button type="submit" class="btn-link">Enable</button>] Disabled
                    </form>
                }
        </dd>
    </dl>
</div>