@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer loc
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@loc["HelloWorld"]</h1>
    <h1 class="display-4">@ViewData["Test"]</h1>
</div>
