<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EnsimagCafet.Web</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
    <link rel="stylesheet" href="~/metronic-assets/plugins/global/plugins.bundle.css">
    <link rel="stylesheet" href="~/metronic-assets/css/style.bundle.css">
    <script src="https://kit.fontawesome.com/40beaa7130.js" crossorigin="anonymous"></script>
</head>
<body id="kt_app_body" class="app-default" data-kt-app-page-loading-enabled="true" data-kt-app-page-loading="on">
    <script>
        var defaultThemeMode = "dark";
        var themeMode;
        if (document.documentElement) {
            if (document.documentElement.hasAttribute("data-theme-mode")) {
                themeMode = document.documentElement.getAttribute("data-theme-mode");
            } else {
                if (localStorage.getItem("data-theme") !== null) {
                    themeMode = localStorage.getItem("data-theme");
                } else {
                    themeMode = defaultThemeMode;
                }
            }
            if (themeMode === "system") {
                themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
            }
            document.documentElement.setAttribute("data-theme", themeMode);
        }
    </script>
    <div class="d-flex flex-column flex-root">
        <div class="page d-flex flex-row flex-column-fluid">
            <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
                <header id="kt_header" class="header align-items-stretch" data-kt-sticky="true" data-kt-sticky-name="header" data-kt-sticky-offset="{default: '200px', lg: '300px'}">
                    <div class="container-xxl d-flex align-items-center">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">EnsimagCafet.Web</a>
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="mx-1 px-4 btn btn-active-light-primary btn-custom btn-text-light">Home</a>
                            <a asp-area="" asp-controller="Home" asp-action="Privacy" class="mx-1 px-4 btn btn-active-light-primary btn-custom btn-text-light">Privacy</a>
                            <a asp-area="" asp-controller="Home" asp-action="Bootstrap" class="mx-1 px-4 btn btn-active-light-primary btn-custom btn-text-light">Bootstrap</a>
                            <partial name="_LoginPartial" />
                            <partial name="_CulturePartial" />
                            <partial name="_ThemePartial" />
                        </nav>
                    </div>
                </header>
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>

                <footer class="border-top footer text-muted">
                    <div class="container">
                        &copy; 2022 - EnsimagCafet.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script src="~/metronic-assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/metronic-assets/js/scripts.bundle.js"></script>
    <script src="~/metronic-assets/js/widgets.bundle.js"></script>
    <script src="~/metronic-assets/js/custom/widgets.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
